body {background-color: white;
      background-image: url(../imagenes/fondo2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: 50% 50%;}
h1 {font-family: monospace;
    text-decoration: underline;
    font-size: 80px;}
h2 {text-align: left;}
nav {background-blend-mode: color;
     font-style: italic;
     font-family: monospace;
     font-size: 30px;
     color: black;
     }
header {width: 50%;
        float: left;}
section {float: left;}
footer {float: left;
        width: 40%;}
.button {
          font-family: Georgia;
          color: #1e2b2e;
          font-size: 35px;
          padding: 10px;
          text-decoration: none;
          -webkit-border-radius: 28px;
          -moz-border-radius: 28px;
          border-radius: 28px;
          -webkit-box-shadow: 0px 1px 3px #000000;
          -moz-box-shadow: 0px 1px 3px #000000;
          box-shadow: 0px 1px 3px #000000;
          text-shadow: 1px 1px 3px #300530;
          border: solid #ffffff 2px;
          background: -webkit-gradient(linear, 0 0, 0 100%, from(#5772b8), to(#ffffff));
          background: -moz-linear-gradient(top, #5772b8, #ffffff);
        }
        .button:hover {
          background: #F5F5F5;
        }
.titulos {font-family: fantasy;
          font-style: oblique;
          color: #191970;
          text-align: center;
          font-size: 50px;}
.textogeneral {color: #000033;
               text-align: left;
               font-size: 30px;}
.imagenprep {border: 10px solid white;
             border-color: white;
             border-width: medium;
             width: 600px; height: 400px;
             padding: 1px;
             margin-top: auto;}
.botonwhatsap {width: 55px;
               height: 55px;
               position: fixed;
               line-height: 55px;
               bottom: 30px;
               background: #0df053;
               right: 30px;
               text-align: center;
               color: #fff;
               border-radius: 50px;
               font-size: 30px;
               box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
               z-index: 100;
               }
.botonwhatsap:hover{
               text-decoration: none;
               color: #0df053;
               }
.linksfooter  {width: 55px;
               height: 55px;
               position: static;
               line-height: 55px;
               bottom: 30px;
               background: #0df053;
               right: 30px;
               text-align: center;
               color: #fff;
               border-radius: 10px;
               font-size: 30px;
               box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
               z-index: 100;
               }
