body {background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(../imagenes/fondo2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      margin: 0;
      z-index: 1;
      height: auto;
      width: 100%;
      opacity: 0.98;
      ;}
header{display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       align-items: center;
       flex-wrap: wrap;
       background-color: black;
       margin: 2%;
       }
nav {background-blend-mode: color;
     display: flex;
     justify-content: space-around;
     font-style: italic;
     font-family: monospace;
     font-size: 30px;
     color: black;
     flex-wrap: wrap;}
h1 {font-family: Copperplate;
         color: #4B3E9C;
         text-decoration: inherit;
         font-size: 60px;
         display: flex;
         flex-wrap: wrap;}
h2 {text-decoration: underline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;}
main {display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;}
section {display: flex;
         flex-direction: column;
         width: auto;}
aside {display: flex;
      flex-direction: column;
      width: 30vw;
      }
footer {display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-color: black;
        margin: 2%;}
.logorecetario {width: 180px; height: 160px;
                border-radius: 50%;}
.linksheader  {width: 60px;
               height: 50px;
               border-radius: 50%;
               padding: 10px ;}
.linksheader:hover {width: 80px;
                    height: 70px}
.button {font-family: fantasy;
         color: #1e2b2e;
         font-size: 30px;
         padding: 20px;
         text-decoration: none;
         -webkit-border-radius: 28px;
         -moz-border-radius: 28px;
         border-radius: 28px;
         -webkit-box-shadow: 0px 1px 3px #000000;
         -moz-box-shadow: 0px 1px 3px #000000;
         box-shadow: 0px 1px 3px #000000;
         text-shadow: 1px 1px 3px #300530;
         border: solid #ffffff 2px;
         background: -webkit-gradient(linear, 0 0, 0 100%, from(#5772b8), to(#ffffff));
         background: -moz-linear-gradient(top, #5772b8, #ffffff);}
.titulos {font-family: fantasy;
          font-style: oblique;
          color: #191970;
          text-align: center;
          font-size: 40px;}
.textogeneral {color: #000033;
               font-size: 30px;
               font-style: oblique;
               font-weight: bold;}
.imagenprep {border: 5px solid white;
             border-color: white;
             border-width: medium;
             width: 30vw; height: 20vw;
             padding: 1px;
             border-radius: 10px;}
.botonwhatsap {width: 65px;
               height: 65px;
               position: fixed;
               line-height: 55px;
               bottom: 30px;
               background: #0df053;
               right: 30px;
               text-align: center;
               color: #fff;
               border-radius: 50%;
               font-size: 30px;
               box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
               z-index: 100;}
.botonwhatsap:hover { width: 95px;
                      height: 95px;}
.linksfooter  {width: 45px;
               height: 45px;
               border-radius: 60%;
               display: inline-table;
               padding: 15px ;}
.linksfooter:hover {width: 65px;
                    height: 65px;}
.videocabecera {border-radius: 10%;
                }
.info {color: white;
       text-align: right;
       font-size: 15px;}
